:root {
  --node-size: 25px;
}

@media (max-width: 600px) {
  :root {
    --node-size: 20px;
  }
}

.node {
  width: var(--node-size);
  height: var(--node-size);
  outline: 1px solid #30363d;
  display: inline-block;
  user-select: none;
  transition: background-color 0.2s ease-out;
}

.node-start {
  background-color: #238636;
}

.node-end {
  background-color: #da3633;
}

.node-wall {
  background-color: #484f58;
  border: none;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 190, 218, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #f0e68c;
  }

  50% {
    transform: scale(1.2);
    background-color: #f0e68c;
  }

  100% {
    transform: scale(1);
    background-color: #f0e68c;
  }
}
